<launch>
    <arg name="config_path" default = "$(find vins_multi)/../config/oak/oak_d_pro_stereo.yaml" />
	<arg name="vins_path" default = "$(find vins_multi)/../config/../" />
    
    <node name="vins_multi" pkg="vins_multi" type="vins_multi" args="$(arg config_path)" output="screen">
       <param name="config_file" type="string" value="$(arg config_path)" />
       <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>
  
    <!-- <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find vins_multi)/../config/vins_rviz_config.rviz" /> -->
</launch>
